// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for STM32F411 Development Kit
 * ARM Cortex-M4 @ 100MHz
 * 512KB Flash, 128KB SRAM
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/stm32-pinfunc.h>

/ {
	model = "STM32F411 Development Kit";
	compatible = "st,stm32f411", "st,stm32f4";

	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		stdout-path = "serial0:115200n8";
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	aliases {
		serial0 = &usart2;
		serial1 = &usart1;
		serial2 = &usart6;
		i2c-0 = &i2c1;
		i2c-1 = &i2c2;
		i2c-2 = &i2c3;
		spi-0 = &spi1;
		spi-1 = &spi2;
		spi-2 = &spi3;
		led0 = &led_user;
		sw0 = &user_button;
	};

	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x20000>; /* 128KB SRAM */
	};

	soc {
		compatible = "st,stm32f411", "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		flash0: flash@8000000 {
			compatible = "soc-nv-flash";
			reg = <0x08000000 0x80000>; /* 512KB Flash */
			#address-cells = <1>;
			#size-cells = <1>;

			/* Partition for bootloader and application */
			partitions {
				compatible = "fixed-partitions";
				#address-cells = <1>;
				#size-cells = <1>;

				boot_partition: partition@0 {
					label = "bootloader";
					reg = <0x00000000 0x00010000>; /* 64KB */
				};

				app_partition: partition@10000 {
					label = "application";
					reg = <0x00010000 0x00060000>; /* 384KB */
				};

				storage_partition: partition@70000 {
					label = "storage";
					reg = <0x00070000 0x00010000>; /* 64KB */
				};
			};
		};

		sram0: memory@20000000 {
			compatible = "mmio-sram";
			reg = <0x20000000 0x20000>; /* 128KB */
		};

		/* Clock controller */
		rcc: rcc@40023800 {
			compatible = "st,stm32f4-rcc";
			reg = <0x40023800 0x400>;
			#clock-cells = <2>;
			status = "okay";
		};

		/* GPIO Ports */
		gpioa: gpio@40020000 {
			compatible = "st,stm32-gpio";
			reg = <0x40020000 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 0>;
			status = "okay";
		};

		gpiob: gpio@40020400 {
			compatible = "st,stm32-gpio";
			reg = <0x40020400 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 1>;
			status = "okay";
		};

		gpioc: gpio@40020800 {
			compatible = "st,stm32-gpio";
			reg = <0x40020800 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 2>;
			status = "okay";
		};

		gpiod: gpio@40020c00 {
			compatible = "st,stm32-gpio";
			reg = <0x40020c00 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 3>;
			status = "okay";
		};

		gpioe: gpio@40021000 {
			compatible = "st,stm32-gpio";
			reg = <0x40021000 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 4>;
			status = "okay";
		};

		gpioh: gpio@40021c00 {
			compatible = "st,stm32-gpio";
			reg = <0x40021c00 0x400>;
			gpio-controller;
			#gpio-cells = <2>;
			clocks = <&rcc 0 7>;
			status = "okay";
		};

		/* USART2 - Connected to ST-Link for debugging */
		usart2: serial@40004400 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40004400 0x400>;
			interrupts = <38 0>;
			clocks = <&rcc 1 17>;
			status = "okay";
			current-speed = <115200>;
			pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
			pinctrl-names = "default";
		};

		/* USART1 - General purpose */
		usart1: serial@40011000 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40011000 0x400>;
			interrupts = <37 0>;
			clocks = <&rcc 2 4>;
			status = "okay";
			current-speed = <115200>;
			pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
			pinctrl-names = "default";
		};

		/* USART6 - General purpose */
		usart6: serial@40011400 {
			compatible = "st,stm32-usart", "st,stm32-uart";
			reg = <0x40011400 0x400>;
			interrupts = <71 0>;
			clocks = <&rcc 2 5>;
			status = "okay";
			current-speed = <115200>;
			pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
			pinctrl-names = "default";
		};

		/* I2C1 */
		i2c1: i2c@40005400 {
			compatible = "st,stm32-i2c-v2";
			reg = <0x40005400 0x400>;
			interrupts = <31 0>, <32 0>;
			interrupt-names = "event", "error";
			clocks = <&rcc 1 21>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			clock-frequency = <100000>; /* 100kHz standard mode */
			pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
			pinctrl-names = "default";
		};

		/* I2C2 */
		i2c2: i2c@40005800 {
			compatible = "st,stm32-i2c-v2";
			reg = <0x40005800 0x400>;
			interrupts = <33 0>, <34 0>;
			interrupt-names = "event", "error";
			clocks = <&rcc 1 22>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			clock-frequency = <100000>;
			pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
			pinctrl-names = "default";
		};

		/* I2C3 */
		i2c3: i2c@40005c00 {
			compatible = "st,stm32-i2c-v2";
			reg = <0x40005c00 0x400>;
			interrupts = <72 0>, <73 0>;
			interrupt-names = "event", "error";
			clocks = <&rcc 1 23>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			clock-frequency = <100000>;
			pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
			pinctrl-names = "default";
		};

		/* SPI1 */
		spi1: spi@40013000 {
			compatible = "st,stm32-spi";
			reg = <0x40013000 0x400>;
			interrupts = <35 0>;
			clocks = <&rcc 2 12>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
			pinctrl-names = "default";
		};

		/* SPI2 */
		spi2: spi@40003800 {
			compatible = "st,stm32-spi";
			reg = <0x40003800 0x400>;
			interrupts = <36 0>;
			clocks = <&rcc 1 14>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
			pinctrl-names = "default";
		};

		/* SPI3 */
		spi3: spi@40003c00 {
			compatible = "st,stm32-spi";
			reg = <0x40003c00 0x400>;
			interrupts = <51 0>;
			clocks = <&rcc 1 15>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pc11 &spi3_mosi_pc12>;
			pinctrl-names = "default";
		};

		/* USB OTG FS */
		usbotg_fs: usb@50000000 {
			compatible = "st,stm32-otgfs";
			reg = <0x50000000 0x40000>;
			interrupts = <67 0>;
			interrupt-names = "otgfs";
			num-bidir-endpoints = <4>;
			ram-size = <1280>;
			maximum-speed = "full-speed";
			clocks = <&rcc 2 7>;
			phys = <&otgfs_phy>;
			status = "okay";
		};

		otgfs_phy: otgfs_phy {
			compatible = "usb-nop-xceiv";
			#phy-cells = <0>;
		};

		/* ADC1 */
		adc1: adc@40012000 {
			compatible = "st,stm32-adc";
			reg = <0x40012000 0x400>;
			interrupts = <18 0>;
			clocks = <&rcc 2 8>;
			#io-channel-cells = <1>;
			status = "okay";
		};

		/* Timers for PWM and general purpose */
		timers1: timers@40010000 {
			compatible = "st,stm32-timers";
			reg = <0x40010000 0x400>;
			clocks = <&rcc 2 0>;
			status = "okay";
		};

		timers2: timers@40000000 {
			compatible = "st,stm32-timers";
			reg = <0x40000000 0x400>;
			clocks = <&rcc 1 0>;
			status = "okay";
		};

		timers3: timers@40000400 {
			compatible = "st,stm32-timers";
			reg = <0x40000400 0x400>;
			clocks = <&rcc 1 1>;
			status = "okay";
		};

		timers4: timers@40000800 {
			compatible = "st,stm32-timers";
			reg = <0x40000800 0x400>;
			clocks = <&rcc 1 2>;
			status = "okay";
		};

		timers5: timers@40000c00 {
			compatible = "st,stm32-timers";
			reg = <0x40000c00 0x400>;
			clocks = <&rcc 1 3>;
			status = "okay";
		};
	};

	/* LEDs */
	leds {
		compatible = "gpio-leds";

		led_user: led_0 {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			label = "User LED";
			status = "okay";
		};

		led_status: led_1 {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
			status = "okay";
		};
	};

	/* Buttons */
	gpio_keys {
		compatible = "gpio-keys";

		user_button: button_0 {
			gpios = <&gpioc 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			label = "User Button";
			status = "okay";
		};
	};

	/* Pin controller configuration */
	pinctrl {
		compatible = "st,stm32-pinctrl";

		/* USART2 pins */
		usart2_tx_pa2: usart2_tx_pa2 {
			pinmux = <STM32_PINMUX('A', 2, AF7)>;
		};
		usart2_rx_pa3: usart2_rx_pa3 {
			pinmux = <STM32_PINMUX('A', 3, AF7)>;
		};

		/* USART1 pins */
		usart1_tx_pa9: usart1_tx_pa9 {
			pinmux = <STM32_PINMUX('A', 9, AF7)>;
		};
		usart1_rx_pa10: usart1_rx_pa10 {
			pinmux = <STM32_PINMUX('A', 10, AF7)>;
		};

		/* USART6 pins */
		usart6_tx_pc6: usart6_tx_pc6 {
			pinmux = <STM32_PINMUX('C', 6, AF8)>;
		};
		usart6_rx_pc7: usart6_rx_pc7 {
			pinmux = <STM32_PINMUX('C', 7, AF8)>;
		};

		/* I2C1 pins */
		i2c1_scl_pb6: i2c1_scl_pb6 {
			pinmux = <STM32_PINMUX('B', 6, AF4)>;
		};
		i2c1_sda_pb7: i2c1_sda_pb7 {
			pinmux = <STM32_PINMUX('B', 7, AF4)>;
		};

		/* I2C2 pins */
		i2c2_scl_pb10: i2c2_scl_pb10 {
			pinmux = <STM32_PINMUX('B', 10, AF4)>;
		};
		i2c2_sda_pb3: i2c2_sda_pb3 {
			pinmux = <STM32_PINMUX('B', 3, AF9)>;
		};

		/* I2C3 pins */
		i2c3_scl_pa8: i2c3_scl_pa8 {
			pinmux = <STM32_PINMUX('A', 8, AF4)>;
		};
		i2c3_sda_pc9: i2c3_sda_pc9 {
			pinmux = <STM32_PINMUX('C', 9, AF4)>;
		};

		/* SPI1 pins */
		spi1_sck_pa5: spi1_sck_pa5 {
			pinmux = <STM32_PINMUX('A', 5, AF5)>;
		};
		spi1_miso_pa6: spi1_miso_pa6 {
			pinmux = <STM32_PINMUX('A', 6, AF5)>;
		};
		spi1_mosi_pa7: spi1_mosi_pa7 {
			pinmux = <STM32_PINMUX('A', 7, AF5)>;
		};

		/* SPI2 pins */
		spi2_sck_pb13: spi2_sck_pb13 {
			pinmux = <STM32_PINMUX('B', 13, AF5)>;
		};
		spi2_miso_pb14: spi2_miso_pb14 {
			pinmux = <STM32_PINMUX('B', 14, AF5)>;
		};
		spi2_mosi_pb15: spi2_mosi_pb15 {
			pinmux = <STM32_PINMUX('B', 15, AF5)>;
		};

		/* SPI3 pins */
		spi3_sck_pc10: spi3_sck_pc10 {
			pinmux = <STM32_PINMUX('C', 10, AF6)>;
		};
		spi3_miso_pc11: spi3_miso_pc11 {
			pinmux = <STM32_PINMUX('C', 11, AF6)>;
		};
		spi3_mosi_pc12: spi3_mosi_pc12 {
			pinmux = <STM32_PINMUX('C', 12, AF6)>;
		};
	};
};
